include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include gunc/_version.py

include gunc/data/genome2taxonomy_ref.tsv
include gunc/data/genome2taxonomy_gtdbref.tsv
include gunc/data/template.html
